*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.zip
*.log
*.jks
*.keystore
*_old.*
webapp_test/
scratch_*.py
setup_webapp_data.py
tree.txt
ftp_crawler/backups/
*.apk
app/release/
